{% extends "base.html" %}

{% block content %}
        <div class="col-2 col-md-2 bg-light bd-sidebar">
          <h4 class="text-info">Tags</h4>
          <dl class="row text-secondary">
            <dt class="col-sm-9"><a href="/">* All notes</a></dt>
            <dd class="col-sm-3 text-primary"><a href="/">{{ tag_index_tuple_sum }}</a></dd>
            {% for tag in tag_index_tuple %}
              <dt class="col-sm-9"><a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a></dt>
              <dd class="col-sm-3 text-primary"><a href="/tag/{{ tag[0] }}">{{ tag[1] }}</a></dd>
            {% endfor %}
          </dl>
          <span class="badge badge-info">{{ version }}</span>
        </div>

        <div class="col-10 col-md-10">
          <h2 class="text-info">{{ metadata.title }}</h2>
          <hr />
          <div class="container-fluid">
            <div class="row">
              <div class="col-8 col-md-8">
                {{ note_content | safe }}
              </div>
              <div class="col-4 col-md-4">
                <h4 class="text-info">Metadata</h4>
                <table class="table table-hover table-sm">
                  <tr>
                    <th scope="row">Author</th>
                    <td>{{ metadata.author }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Last Updated</th>
                    <td>{{ metadata.last_updated }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Tags</th>
                    <td>
                      {% for tag in metadata.tags %}
                        <a class="badge badge-primary" href="/tag/{{ tag }}">{{ tag }}</a>
                      {% endfor %}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
