<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" >

    <title>Vinci</title>
  </head>
  <body>
    <header class="navbar flex-column flex-md-row bd-navbar">
      <a href="#" class="navbar-brand text-light"><img src="/static/davinci.png" /></a>
      <ul class="navbar-nav mr-auto flex-row">
        <li class="nav-item">
          <a href="/tasks" class="btn btn-secondary">Global Task List</a>
          <a href="/update" class="btn btn-primary">Update Database</a>
        </li>
      </ul>

      <form role="search" class="bd-search d-flex align-items-center" action="/search" method="POST">
        <input name="search" type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-docs-version="4.4">
      </form>

    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="row">
          <div class="col-2 col-md-2 bd-sidebar">
            <h4 class="text-info">Tags</h4>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/">All notes</a>
                <span class="badge badge-primary badge-pill">
                  <a href="/">{{ tag_index_tuple_sum }}</a>
                </span>
              </li>
              {% for tag in tag_index_tuple %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a>
                <span class="badge badge-primary badge-pill">
                  <a href="/tag/{{ tag[0] }}">{{ tag[1] }}</a>
                </span>
              </li>
              {% endfor %}
            </ul>
            <span class="badge badge-info">{{ version }}</span>
          </div>
        {% block content %}{% endblock %}
      </div>
    </div>

  </body>
</html>
