{% extends "base.html" %}

{% block content %}

        <div class="col-10 col-md-10">
          <h4 class="text-info">Notes</h4>
          <table class="table table-borderless table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Parent Folder</th>
                <th scope="col">Title</th>
                <th scope="col">Path</th>
                <th scope="col">Tags</th>
              </tr>
            </thead>
            <tbody>
              {% for note in notes %}
                <tr>
                  <td>{{ note[3] }}</td>
                  <th scope="row"><a href="/note/{{ note[2] }}">{{ note[0] }}</a></th>
                  <td>{{ note[1] }}</td>
                  <td>
                    {% for tag in note[4] %}
                      <a class="badge badge-primary" href="/tag/{{ tag[0] }}">{{ tag[0] }}</a>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
{% endblock %}
