{% extends "base.html" %}

{% block content %}

        <div class="col-10 col-md-10">
          <p>
              You have reached Andy's second brain. This is a <a href="https://link.medium.com/BIORu1Zve9">Zettelkasten<a>. Tags are on the left, topics are below.
          </p>
          <h2 class="text-info">Topics</h2>
            {% if not topics %}
            <p>No topics yet!</p>
            {% else %}
            <ul>
                {% for topic in topics %}
                <li><a href="/topic/{{ topic[1] }}">{{ topic[1] }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

      </div>
{% endblock %}
