{% extends "base.html" %}

{% block content %}

        <div class="col-10 col-md-10">
          <h2 class="text-info">Unlinked Notes</h2>
            {% if not unlinked_notes %}
            <p>No unlinked notes!</p>
            {% else %}
          <table class="table table-borderless table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Note</th>
                <th scope="col">Title</th>
                <th scope="col">Tags</th>
              </tr>
            </thead>
            <tbody>
                {% for note in unlinked_notes %}
                <tr>
                  <td>{{ note[2] }}</td>
                  <th scope="row"><a href="/note/{{ note[2] }}">{{ note[0] }}</a></th>
                  <td>
                    {% for tag in note[4] %}
                      <a class="badge badge-primary" href="/tag/{{ tag[0] }}">{{ tag[0] }}</a>
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
            {% endif %}
        </div>

      </div>
{% endblock %}
